@import url(https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold);
@import url(https://db.onlinewebfonts.com/c/2bc662e7204dfbe2bf8d7b6f4eb6f446?family=PP+Monument+Extended);
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fillPaginationBullet {
  from {
    background-color: #999999;
    background-position: left;
  }
  to {
    background-color: white;
    background-position: right;
  }
}

.swiper-pagination-bullet-active {
  animation: fillPaginationBullet 5s linear forwards;
}
.swiper-pagination-bullet {
  opacity: 0.9;
}
